---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

<script async 
src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- 
468x60, created 8/4/09 --><ins class="adsbygoogle"     
style="display:inline-block;width:468px;height:60px"     
data-ad-client="ca-pub-6435972961836580"     
data-ad-slot="4204114040"></ins><script>(adsbygoogle = 
window.adsbygoogle || []).push({});</script>

  <article class="post-content">
    {{ content }}
  </article>

</div>
